{% extends "index.html" %}

{% block content %}
<h2 class="pull-left">
  {{ category.title }}<br/>
  <small>{{ category.description }}</small>
</h2>
<div class="pull-right">
  <a class="btn btn-primary" href="/categories/{{ category.id }}/add">Add Item</a>
  <a class="btn btn-primary" href="/categories/{{ category.id }}/update">Edit</a>
  <a class="btn btn-danger" href="/categories/{{ category.id }}/delete">Delete</a>
</div>

<table class="table">
  <thead>
    <th>Item</th>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td><a href="/categories/{{ category.id }}/{{ item.id }}">{{ item.title }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
