{% extends "index.html" %}

{% block content %}
<h2>{{ item.title }}</h2>
  <div class="form-group">
    <label>Description</label>
    <p class="form-control-static">{{ item.description }}</p>
  </div>
  {% if current_user == item.user %}
  <a class="btn btn-default" href="/categories/{{ category.id }}">Back</a>
  <a class="btn btn-primary" href="/categories/{{ category.id }}/{{ item.id }}/update">Edit</a>
  <a class="btn btn-danger" href="/categories/{{ category.id }}/{{ item.id }}/delete">Delete</a>
  {% endif %}
{% endblock %}
