{% extends "security/base.html" %}

{% block nav %}{% endblock %}
{% block content %}

<h2>Login</h2>

<form method="post">
  {{ login_user_form.hidden_tag() }}
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" type="email" required>
    {% if login_user_form.email.errors %}
      {% for error in login_user_form.email.errors %}
        <span class="help-text">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    <label>Password</label>
    <input class="form-control" name="password" type="password" required>
    {% if login_user_form.password.errors %}
      {% for error in login_user_form.password.errors %}
        <span class="help-text">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <button class="btn btn-success" type="submit">Login</button>
  <a class="btn btn-default" href="/">Back to Home</a>
</form>
<br/>

{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <a class="btn btn-social btn-{{ display_name|lower }}" onclick="$(this).closest('form').submit();">
      <span class="fa fa-twitter"></span> Login with {{ display_name }}
    </a>
  </form>
{% endmacro %}

{{ social_login('twitter', 'Twitter' )}}
{% endblock %}
